@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
:root {
  --mainColor: #333;
  --secondaryColor: #555;
  --lightColor: #ddd;
  --titleFont: "Rubik Mono One", sans-serif;
  --formFont: "Open Sans", sans-serif;
  --taskFont: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background: var(--lightColor);
}
header h1 {
  font-family: var(--titleFont);
  font-size: 2.8rem;
  color: var(--mainColor);
  letter-spacing: -0.2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--formFont);
  font-size: 1.4rem;
  flex-wrap: wrap;
}
form label {
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--mainColor);
  width: 100%;
  text-align: center;
}
form input {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--mainColor);
  border-radius: 0.5rem;
  width: 80%;
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--formFont);
}
form button {
  border: none;
  background: white;
}
form button img {
  width: 2rem;
  height: 2rem;
  color: var(--mainColor);
}
.task {
  font-family: var(--taskFont);
  width: 100%;
  color: white;
  margin:0.2rem 0 0.2rem 0;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.case {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 240px;
  border-radius: 0.5rem;
}
.case h2 {
  font-size: 0.6rem;
  font-family: var(--titleFont);
}
.drop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.urgentImportant {
  grid-area: 1 / 1 / 3 / 3;
  border: red 3px solid;
  display: flex;
}
.urgentImportant h2 {
  color: red;
}
.urgentImportant .task {
  background: red;
}
.urgentNotImportant {
  grid-area: 1 / 3 / 3 / 5;
  border: orangered 3px solid;
}
.urgentNotImportant h2 {
  color: orangered;
}
.urgentNotImportant .task {
  background: orangered;
}
.importantNotUrgent {
  grid-area: 3 / 1 / 5 / 3;
  border: green 3px solid;
}
.importantNotUrgent h2 {
  color: green;
}
.importantNotUrgent .task {
  background: green;
}
.notImportantNotUrgent {
  grid-area: 3 / 3 / 5 / 5;
  border: grey 3px solid;
}
.notImportantNotUrgent h2 {
  color: grey;
}
.notImportantNotUrgent .task {
  background: grey;
}

.trashBtn {
  border: none;
  background: none;
  color: var(--mainColor);
  font-family: var(--formFont);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}

.trashBtn img {
  width: 2rem;
}
