@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
:root {
  --mainColor: #333;
  --secondaryColor: #555;
  --lightColor: #ddd;
  --titleFont: "Rubik Mono One", sans-serif;
  --formFont: "Open Sans", sans-serif;
  --taskFont: "Roboto", sans-serif;
  --red: #FF5733;
  --orange: #FFA500;
  --green: #4CAF50;
  --grey: #808080;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background: var(--lightColor);
}
header h1 {
  font-family: var(--titleFont);
  font-size: 2.8rem;
  color: var(--mainColor);
  letter-spacing: -0.2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--formFont);
  font-size: 1.4rem;
  flex-wrap: wrap;
}
form label {
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--mainColor);
  width: 100%;
  text-align: center;
}
form input {
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid var(--mainColor);
  border-radius: 0.5rem;
  width: 80%;
  max-width: 800px;
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--formFont);
}
form button {
  border: none;
  background: white;
  padding: 0.5rem;
}
form button img {
  width: 2rem;
  height: 2rem;
  color: var(--mainColor);
}
form button img:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.2s;
}
.task {
  font-family: var(--taskFont);
  width: 100%;
  color: white;
  margin: 0.2rem 0 0.2rem 0;
}
.task:hover {
  cursor: grab;
}
.task:active {
  cursor: grabbing;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  max-width: 1200px;
  margin: 0 auto;
}
.case {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 240px;
  border-radius: 0.5rem;
}
.case h2 {
  font-size: 0.6rem;
  font-family: var(--titleFont);
}
.drop-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.urgentImportant {
  grid-area: 1 / 1 / 3 / 3;
  border: var(--red) 3px solid;
  display: flex;
}
.urgentImportant h2 {
  color: var(--red);
}
.urgentImportant .task {
  background: var(--red);
}
.urgentNotImportant {
  grid-area: 1 / 3 / 3 / 5;
  border: var(--orange) 3px solid;
}
.urgentNotImportant h2 {
  color: var(--orange);
}
.urgentNotImportant .task {
  background: var(--orange);
}
.importantNotUrgent {
  grid-area: 3 / 1 / 5 / 3;
  border: var(--green) 3px solid;
}
.importantNotUrgent h2 {
  color: var(--green);
}
.importantNotUrgent .task {
  background: var(--green);
}
.notImportantNotUrgent {
  grid-area: 3 / 3 / 5 / 5;
  border: var(--grey) 3px solid;
}
.notImportantNotUrgent h2 {
  color: var(--grey);
}
.notImportantNotUrgent .task {
  background: var(--grey);
}

.trashBtn {
  border: none;
  background: none;
  color: var(--mainColor);
  font-family: var(--formFont);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}
.trashBtn {
  padding: 0.5rem;
}
.trashBtn img {
  width: 2rem;
}
.trashBtn img:hover {
  scale: 1.1;
  transition: 0.2s;
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  font-family: var(--formFont);
  color: var(--mainColor);
  margin: 0 auto;
  background: var(--lightColor);
}

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    font-family: var(--formFont);
    color: var(--mainColor);
    margin: 0 auto;
    background: var(--lightColor);
  }

  
}
