@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
:root {
  --mainColor: #333;
  --secondaryColor: #555;
  --lightColor: #ddd;
  --titleFont: "Rubik Mono One", sans-serif;
  --formFont: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  padding: 1rem;
  display: flex;
  align-items: center;
}
header h1 {
  font-family: var(--titleFont);
  font-size: 3rem;
  text-align: left;
  color: var(--mainC);
  margin-left: 3rem;
  letter-spacing:  -0.2rem;
}
header h2 {
  font-family: var(--formFont);
  font-size: 2rem;
  text-align: left;
  color: var(--mainColor);
  margin-left: 3rem;
}

.newTask {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  font-family: var(--formFont);
  font-size: 1.4rem;
}
form label {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--mainColor);
}
form input {
  margin-top: 1rem;
  border: 1px solid var(--secondaryColor);
  font-size: 1.4rem;
  font-family: var(--formFont);
  color: var(--mainColor);
}
form button {
  margin-top: 1rem;
  border: 1px solid var(--secondaryColor);
  font-size: 1.4rem;
  font-family: var(--formFont);
  color: var(--mainColor);
  background: var(--lightColor);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
form button:hover {
  background: var(--secondaryColor);
  color: var(--lightColor);
}

.tasksContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: var(--formFont);
  font-size: 1.4rem;
}

.task {
  background: var(--lightColor);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  width: 20%;
  text-align: center;
}
.task:hover {
  background: var(--secondaryColor);
  color: var(--lightColor);
  cursor: grab;
}
.task:active {
  cursor: grabbing;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin: 0 3rem;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
}
.case {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 240px;
}
.urgentImportant {
  grid-area: 1 / 1 / 3 / 3;
  background: red;
}
.urgentNotImportant {
  grid-area: 1 / 3 / 3 / 5;
  background: orangered;
}
.importantNotUrgent {
  grid-area: 3 / 1 / 5 / 3;
  background: green;
}
.notImportantNotUrgent {
  grid-area: 3 / 3 / 5 / 5;
  background: grey;
}
